Screen {
  align: center top;
  layers: below above;
}

#carousel_container{
  align: center top;
  width: 100%;
  height: 100%;
}

#navigation {
  dock:bottom;
  width: 100%;
  height: 4;
  layout: grid;
  grid-size: 2 1;
}

#banner_preview {
  width: 100%;
}

#prev_btn, #next_btn {
  background: #2e2e2e;
  # height: 100%;
}


#editor_tabs, #edit_tabs, #preview_tab {
  width: 100%;
}